/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/nginx.htaccess
/logs/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.vscode
.editorconfig
/.idea
.idea
.svn
Thumbs.db
_ide_helper.php
composer.lock